@import url("//cdn.web-fonts.ge/fonts/bpg-classic-medium/css/bpg-classic-medium.min.css");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 100vh;
}
.bot {
    margin-top: 50px;
    background-color: purple;
    font-size: 15px;
    font-family: "BPG Classic Medium", sans-serif;
    border-radius: 30px;
    color: #cbfdfd;
    box-shadow: 2px 2px 5px fuchsia;
    padding: 10px 15px;
    border: 0;
}

.heart  {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(45deg) ;
    position: relative;
    /* box-shadow: 1px 1px 4px greenyellow; */
    animation: pump 1s linear infinite;
}

@keyframes pump {
    0%,10% {
        transform: scale(1)  rotate(45deg) ;
    }
    20%, 30% {
        transform: scale(1.1) rotate(45deg);
    }
    40%,50% {
        transform:  scale(0.90) rotate(45deg);
    }
    60%,70% {
        transform:  scale(1.2) rotate(45deg);
    }
    80%,90% {
        transform: scale(0.9) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(45deg);
    }
}
.heart::before {
    position: absolute;
    content: " ";
    width: 100px;
    height: 100px;
    background-color: red;
    right:  50px;
    border-radius: 50%;
    /* box-shadow: 3px 0 4px greenyellow inset; */
}
.heart::after {
    position: absolute;
    content: " ";
    width: 100px;
    height: 100px;
    background-color: red;
    bottom:  50px;
    border-radius: 50%;
}